<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ID2Terms" maxReceivedMessageSize="50000000" />
                <binding name="BasicHttpBinding_IRelease" maxReceivedMessageSize="50000000" />
                <binding name="BasicHttpBinding_INotificationProcessor" maxReceivedMessageSize="50000000" />
                <binding name="BasicHttpBinding_IReleaseDataProvider" maxReceivedMessageSize="50000000" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WebHttpBinding_ID2Terms">
                    <textMessageEncoding messageVersion="Soap12" />
                </binding>
            </customBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ID2Terms" />
            </wsHttpBinding>
        </bindings>
        <client>
            <!--<endpoint address="http://ushpewviis244.global.umusic.ext/iD2_Prod/D2Terms.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ID2Terms"
                contract="D2Terms.ID2Terms" name="WSHttpBinding_ID2Terms">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>-->
            <endpoint address="http://ushpewviis244.global.umusic.ext/iD2_Prod/D2Terms.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ID2Terms"
                contract="D2Terms.ID2Terms" name="BasicHttpBinding_ID2Terms"
                />
            <!--<endpoint binding="customBinding" bindingConfiguration="WebHttpBinding_ID2Terms"
                contract="D2Terms.ID2Terms" name="WebHttpBinding_ID2Terms" />
            <endpoint binding="customBinding" bindingConfiguration="WebHttpBinding_ID2Terms"
                contract="D2Terms.ID2Terms" name="WebHttpBinding_ID2Terms1" />-->
        </client>
    </system.serviceModel>
</configuration>